*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.hero{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(https://marketplace.canva.com/EAFCUOvVpf4/1/0/1600w/canva-fondo-de-pantalla-con-frase-motivacional-para-computador-j59TtV4zGQU.jpg);
    background-size: cover;
    background-position: center;
}

.navHero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 7%;
    padding-right: 7%;
}
.logo{
    color: #fff;
    font-size: 28px;
}
.logo{
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}
.font{
    color: #fff;
}
span{
    color: #ea1538;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover{
    color: #ea1538;
    transition: .3s;
}
.user{
    border: none;
    background: #ea1538;
    padding: 7px 22px;
    border-radius: 30px;
    color: #fff;
    transition: .4s;
    cursor: pointer;
}
.users{
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 10px;
    text-align: center;
    margin: 0 30px;
}
